/* Styles for webgl visualisations */

body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
    background-color: #8e8e8e;
}
.infoPanel {
    position: absolute;
}
#information {
    top: 3%;
    left: 0.5%;
    width: 12.5%;
}
#information
.hidden {
    display: none;
}
#title {
    position: absolute;
    top: 1%;
    left: 35%;
    font-size: 2vw;
    color: darkred;
}
#title img {
    width: 15%;
    vertical-align: middle;
}
#instructions {
    bottom: 2%;
    left: 2%;
    width: 5%;
}
#instructions img {
    width: 100%;
}
.details {
    background-color: #8e8e8e;
    border-radius: 10px;
    margin: 5% 0;
}
.details p {
    margin: 0;
}
.mainButton {
    border-radius: 5px;
    position: absolute;
    padding: 5px;
    background-color: rgba(150, 150, 150, 0.5);
    overflow: hidden;
    color: #7fa5ff;
}
.mainText {
    background-color: rgba(150, 150, 150, 0.0);
    overflow: hidden;
    color: #7fa5ff;
}
#loadButton {
    top: 50px;
    left: 75px;
}
.upload {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    background-color: #004040;
    cursor: pointer;
}
.camControls {
    background-color: rgba(150, 150, 150, 0);
    color: #7fa5ff;
    margin-bottom: 5%;
}
.camControls button {
    text-align: center;
    margin: 3px;
}
#camLeft {
    float: right;
}
#camRight {
    float: left;
}
.info {
    margin: 0 auto 5% auto;
    width: 75%;
    padding: 1px;
    border-radius: 5px;
    background-color: rgba(150, 150, 150, 0.5);
    color: #7fa5ff;
}
.info .pure-g {
    margin-bottom: 5%;
}
.infoHeader {
    text-align: center;
}

.nodeInfo {
    position: absolute;
    width: 300px;
    top: 300px;
    left: 300px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(119, 119, 119, 0.50);
    color: #7fa5ff;
}
.vis-button {
    background-color: rgba(150, 150, 150, 0.5);
    color: #7fa5ff;
}
.screenShot {

}
.presets {
    position: absolute;
    top: 550px;
    left: 60px;
}
.controls {
    margin: 0px;
}
.singleControl {
    margin: 0px;
    text-align: center;
}
.button-xsmall {
    font-size: 70%;
}

#instructionTitle {
    font-size: 2vw;
    color: darkred;
}
#instructionTitle img {
    width: 15%;
}
#instructPage {
    background-color: #5c5f64;
}
.instructionText p {
    color: white;
    text-align: left;
}
.instructionText h3 {
    text-align: left;
    color: #303030;
}
.instructionText img {
    width: 50%;
}
/* Slider */
#yearDetails {
    top: 35%;
    right: 2.5%;
    width: 10%;
    color: white;
}
#yearDetails p {
    margin: 0;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
    background-color: #8e8e8e;
    border-radius: 10px;
    border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    border: 2.9px solid #007bff;
    height: 25px;
    width: 34px;
    border-radius: 28px;
    background: rgba(51, 79, 240, 0.93);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 3.1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #8e8e8e;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 31.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #46262c;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
    border: 2.9px solid #941e00;
    height: 25px;
    width: 34px;
    border-radius: 28px;
    background: rgba(251, 55, 56, 0.93);
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 31.2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #351d22;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #46262c;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
    border: 2.9px solid #941e00;
    width: 34px;
    border-radius: 28px;
    background: rgba(251, 55, 56, 0.93);
    cursor: pointer;
    height: 25px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #46262c;
}
input[type=range]:focus::-ms-fill-upper {
    background: #572f36;
}

